---
import GlobalStyles from "../components/GlobalStyles.astro";
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
import NIKKESearchbar from "../components/NIKKESearchbar.astro";

const response = await fetch('https://api.dotgg.gg/nikke/characters/');
const jsonresponsea = await response.json();

const pryd = await fetch('https://www.prydwen.gg/page-data/nikke/characters/page-data.json');
const prydjson = await pryd.json();
const prydwen = prydjson.result.data.allCharacters.nodes
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>NIKKEs - Anisa</title>
		<meta name="description" content="The list of all playable Nikkes.">
		<meta content="#f4d259" data-react-helmet="true" name="theme-color" />

		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	</head>
	<body>
		<Header />
		<Sidebar />
		<div class="main">
			<div class="wrapper">
				<h1>NIKKEs</h1>

				<p>All currently available playable NIKKEs.</p>
				<p>You can sort by rarity, manufacturer, and all that stuff.</p>
				<p>Clicking "Context" will show what the symbols truly mean.</p>
				<p>Clicking "Minimalist Mode" will hide the hexagon icons on the NIKKEs.</p>

				<hr>

				<NIKKESearchbar />

				<div class="nikke-table" id="nikketable">
				</div>
				<p class="bottom-redirects"><i id="result-stats"></i></p>
				
				<script define:vars={{jsonresponsea, prydwen}} type="module">
					import {go} from "../fuzzysort.js";

					let minimal = false;
					document.querySelectorAll("span#minimal")[0].addEventListener('pointerup', (e) => {
						minimal = !minimal;
						document.querySelectorAll("span#minimal")[0].innerHTML = (minimal ? "<i class='bx bx-checkbox-checked optionico'></i>" : "<i class='bx bx-checkbox optionico'></i>") + " Minimalist Mode";
						refreshList();
					});

					let jsonresponse = [...jsonresponsea];

					document.getElementById("nikke-searchbar").addEventListener('input', refreshList);

					let burstList = ['1', '2', '3', 'p'];
					let bursts = [true, true, true, true]; // "include"

					let elemList = ['fire', 'water', 'wind', 'iron', 'electric'];
					let elems = [true, true, true, true, true]; // "include"

					let manuList = ['elysion', 'tetra', 'missilis', 'pilgrim', 'abnormal'];
					let manus = [true, true, true, true, true]; // "include"

					let classesList = ['attacker', 'defender', 'supporter'];
					let classes = [true, true, true]; // "include"

					let scopesList = ['ar', 'mg', 'rl', 'sg', 'smg', 'sr'];
					let scopes = [true, true, true, true, true, true]; // "include"

					let miscList = ["new", "changed"];
					let misc = [false, false];

					let rarityList = ["ssr", "sr", "r"];
					let rarities = [true, true, true];

					refreshList();

					for (let i = 0; i < bursts.length; i++) {
						let immut = i;
						document.querySelectorAll("div.picker span#burst" + burstList[i])[0].addEventListener('pointerup', (e) => {
							if (bursts.indexOf(false) == -1) {
								bursts = [false, false, false, false]
							}

							bursts[immut] = !bursts[immut];
							refreshList();
						});
					}

					for (let i = 0; i < manus.length; i++) {
						let immut = i;
						document.querySelectorAll("div.picker span#" + manuList[i])[0].addEventListener('pointerup', (e) => {
							if (manus.indexOf(false) == -1) {
								manus = [false, false, false, false, false]
							}

							manus[immut] = !manus[immut];
							refreshList();
						});
					}

					for (let i = 0; i < elems.length; i++) {
						let immut = i;
						document.querySelectorAll("div.picker span#" + elemList[i])[0].addEventListener('pointerup', (e) => {
							if (elems.indexOf(false) == -1) {
								elems = [false, false, false, false, false]
							}

							elems[immut] = !elems[immut];
							refreshList();
						});
					}

					for (let i = 0; i < classes.length; i++) {
						let immut = i;
						document.querySelectorAll("div.picker span#" + classesList[i])[0].addEventListener('pointerup', (e) => {
							if (classes.indexOf(false) == -1) {
								classes = [false, false, false]
							}

							classes[immut] = !classes[immut];
							refreshList();
						});
					}

					for (let i = 0; i < scopes.length; i++) {
						let immut = i;
						document.querySelectorAll("div.picker span#" + scopesList[i])[0].addEventListener('pointerup', (e) => {
							if (scopes.indexOf(false) == -1) {
								scopes = [false, false, false, false, false, false]
							}

							scopes[immut] = !scopes[immut];
							refreshList();
						});
					}

					for (let i = 0; i < misc.length; i++) {
						let immut = i;
						document.querySelectorAll("div.picker span#" + miscList[i])[0].addEventListener('pointerup', (e) => {
							misc[immut] = !misc[immut];
							refreshList();
						});
					}

					for (let i = 0; i < rarities.length; i++) {
						let immut = i;
						document.querySelectorAll("div.picker span#r-" + rarityList[i])[0].addEventListener('pointerup', (e) => {
							if (rarities.indexOf(false) == -1) {
								rarities = [false, false, false]
							}

							rarities[immut] = !rarities[immut];
							refreshList();
						});
					}

					function prydslug(e) {
						return go((e.url + '').replaceAll('-', ' '), prydwen.map((e) => e.slug.replaceAll('-', ' ')))[0].target.replaceAll(" ", '-');
					}

					function refreshList() {
						let now = new Date();

						document.querySelectorAll('#nikketable')[0].innerHTML = '';

						if (bursts.indexOf(true) == -1) {
							bursts = [true, true, true, true]
						}
						for (let i = 0; i < bursts.length; i++) {
							document.querySelectorAll("div.picker span#burst" + burstList[i])[0].style.opacity = bursts[i] ? "1.0" : "0.3";	
						}


						if (manus.indexOf(true) == -1) {
							manus = [true, true, true, true, true]
						}
						for (let i = 0; i < manus.length; i++) {
							document.querySelectorAll("div.picker span#" + manuList[i])[0].style.opacity = manus[i] ? "1.0" : "0.3";	
						}

						if (elems.indexOf(true) == -1) {
							elems = [true, true, true, true, true]
						}
						for (let i = 0; i < elems.length; i++) {
							document.querySelectorAll("div.picker span#" + elemList[i])[0].style.opacity = elems[i] ? "1.0" : "0.3";	
						}
						
						if (classes.indexOf(true) == -1) {
							classes = [true, true, true]
						}
						for (let i = 0; i < classes.length; i++) {
							document.querySelectorAll("div.picker span#" + classesList[i])[0].style.opacity = classes[i] ? "1.0" : "0.3";	
						}

						if (scopes.indexOf(true) == -1) {
							scopes = [true, true, true, true, true, true]
						}
						for (let i = 0; i < scopes.length; i++) {
							document.querySelectorAll("div.picker span#" + scopesList[i])[0].style.opacity = scopes[i] ? "1.0" : "0.3";	
						}

						for (let i = 0; i < misc.length; i++) {
							document.querySelectorAll("div.picker span#" + miscList[i])[0].style.opacity = misc[i] ? "1.0" : "0.3";	
						}

						if (rarities.indexOf(true) == -1) {
							rarities = [true, true, true]
						}
						for (let i = 0; i < rarities.length; i++) {
							document.querySelectorAll("div.picker span#r-" + rarityList[i])[0].style.opacity = rarities[i] ? "1.0" : "0.3";	
						}

						jsonresponse = jsonresponsea.map((x) => x);

						// filters
						for (let j = 0; j < jsonresponse.length; j++) {
							for (let i = 0; i < burstList.length; i++) {
								if (jsonresponse[j] != null) {
									if (jsonresponse[j].burst == burstList[i]) {
										if (!bursts[i]) {
											jsonresponse[j] = null;
										}
									}
								}
							}

							for (let i = 0; i < elemList.length; i++) {
								if (jsonresponse[j] != null) {
									if (jsonresponse[j].element.toLowerCase() == elemList[i]) {
										if (!elems[i]) {
											jsonresponse[j] = null;
										}
									}
								}
							}

							for (let i = 0; i < manuList.length; i++) {
								if (jsonresponse[j] != null) {
									if (jsonresponse[j].manufacturer.toLowerCase() == manuList[i]) {
										if (!manus[i]) {
											jsonresponse[j] = null;
										}
									}
								}
							}

							for (let i = 0; i < classesList.length; i++) {
								if (jsonresponse[j] != null) {
									if (jsonresponse[j].class.toLowerCase() == classesList[i]) {
										if (!classes[i]) {
											jsonresponse[j] = null;
										}
									}
								}
							}

							for (let i = 0; i < scopesList.length; i++) {
								if (jsonresponse[j] != null) {
									if (jsonresponse[j].weapon.toLowerCase() == scopesList[i]) {
										if (!scopes[i]) {
											jsonresponse[j] = null;
										}
									}
								}
							}

							for (let i = 0; i < miscList.length; i++) {
								if (jsonresponse[j] != null) {

									let prydRes = null;
									let slug = prydslug(jsonresponse[j])

									for (let i = 0; i < prydwen.length; i++) {
										if (slug == prydwen[i].slug) {
											prydRes = prydwen[i];
											break;
										}
									}

									if ((prydRes.isNew !== null ? !prydRes.isNew : true) && ("new" == miscList[i]) && misc[0]) {
										jsonresponse[j] = null;
									}

									if ((prydRes.isUpdated !== null ? !prydRes.isUpdated : true) && ("changed" == miscList[i]) && misc[1]) {
										jsonresponse[j] = null;
									}
								}
							}

							for (let i = 0; i < rarityList.length; i++) {
								if (jsonresponse[j] != null) {
									if (jsonresponse[j].rarity.toLowerCase() == rarityList[i]) {
										if (!rarities[i]) {
											jsonresponse[j] = null;
										}
									}
								}
							}
						}

						jsonresponse = jsonresponse.filter((e) => {
							return e != null;
						});

						if (document.getElementById("nikke-searchbar").value != null) {
							var searchResults = go(document.getElementById("nikke-searchbar").value.trim(), jsonresponse, {key: 'name', all: true});
							jsonresponse = [];
							
							for (let i = 0; i < searchResults.length; i++) {
								jsonresponse[i] = searchResults[i].obj;
							}
						}

						jsonresponse.map((e) => {
							// document.getElementById('nikketable').innerHTML += `<img src=${"https://nikke-db-legacy.pages.dev/images/sprite/" + e.img + ".png"} alt=${e.name.toLowerCase()} class="nikke" />`
							
							// THIS IS BAD. DON'T EVER DO THIS.
							// DO NOT TAKE NOTES FROM THIS, PLEASE INVEST YOURSELF IN SOME SERVERS
							// I BEG OF YOU

							// console.log(e)
							if (e == null) {
								return;
							}

							let bggradient = '';

							switch (e.rarity.toLowerCase()) {
								case 'r':
									bggradient = "linear-gradient(to top, rgba(0, 210, 255, 0.1), rgba(0, 210, 255, 0.05),rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0))";
									break;
								case 'sr':
									bggradient = "linear-gradient(to top, rgba(255, 44, 255, 0.1), rgba(255, 44, 255, 0.05),rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0))"
									break;
								case 'ssr':
									bggradient = "linear-gradient(to top, rgba(254, 216, 0, 0.1), rgba(254, 216, 0, 0.05),rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0))";
									break;
							}

							let name = `<span class="nikke-name">${e.name}</span>`;

							if (e.name.trim().length > 14) {
								name = `
								<div class="marquee-name">
									<span>${e.name}</span>
								</div>
								`
							}

							let hextray = `
							<div class="hex-tray" ${minimal ? "style=\"display: none\"" : ""}>
								<div class="hex-gray">
									<img src="/anisa/images/burst_${e.burst}.png" alt="B${e.burst}" title="Burst ${e.burst}" />
								</div>
								<div class="hex-gray" style="background-image: url(/anisa/images/colored/hex_frame_${e.element.toLowerCase()}.png);">
									<img src="/anisa/images/colored/ele_${e.element.toLowerCase()}.png" alt="${e.element}" title="${e.element}" />
								</div>
								<div class="hex-gray">
									<img src="/anisa/images/manu_${e.manufacturer.toLowerCase()}.png" alt="${e.manufacturer}" title="${e.manufacturer}" />
								</div>
								<div class="hex-gray">
									<img src="/anisa/images/class_${e.class.toLowerCase()}.png" alt="${e.class}" title="${e.class}" />
								</div>
							</div>
							`

							let isNew = false;
							let shouldInvest = false;
							let changed = false;

							for (let i = 0; i < prydwen.length; i++) {
								if (prydwen[i].name.toLowerCase() == e.name.toLowerCase()) {
									isNew = prydwen[i].isNew !== null ? prydwen[i].isNew : false;
									changed = prydwen[i].isUpdated !== null ? prydwen[i].isUpdated : false;
								}
							}

							let tagslist = `
							<div class="tags-list" ${minimal ? "style=\"display: none\"" : ""}>
								${ isNew ? "<span class=\"tag new\">NEW</span>" : ""}
								${ shouldInvest ? "<span class=\"tag invest\">$$$</span>" : ""}
								${ changed ? "<span class=\"tag changed\">!!!</span>" : ""}
							</div>
							`

							// Instancing it is faster. Somehow.

							const newPortrait = document.createElement('div');
							newPortrait.classList.add('nikke-portrait');

							const a = document.createElement('a');
							a.style.color = 'white';
							a.href = '/anisa/nikke/' + e.url
							newPortrait.appendChild(a);

							const img = document.createElement('img');
							img.src = "https://nikke-db-legacy.pages.dev/images/sprite/" + e.img + ".png";
							img.alt = e.name;
							img.classList.add('nikke');
							a.appendChild(img);

							const gradient = document.createElement('div');
							gradient.classList.add('portrait-overlay');
							gradient.classList.add('portrait-gradient');
							gradient.style.background = bggradient;
							a.appendChild(gradient);

							a.innerHTML += name;

							const bar = document.createElement('img');
							bar.src = `/anisa/images/rarbar_${e.rarity.toLowerCase()}.png`;
							bar.alt = "Rarity Bar";
							bar.classList.add('rarity-bar');
							bar.classList.add('portrait-overlay');
							a.appendChild(bar);

							a.innerHTML += hextray;
							a.innerHTML += tagslist;

							document.getElementById('nikketable').appendChild(newPortrait);
						})

						document.getElementById('result-stats').innerHTML = `${jsonresponse.length} result(s) in ${(new Date() - now) / 1000} seconds.`
					}
				</script>
			</div>
		</div>
	</body>
</html>

<GlobalStyles />